# IGNORE

/.agents
/.github
/[Cc]ache
/[Ee]xample
/[Ee]xamples
/[Oo]utput
/[Oo]utputs
/[Bb]uild
/[Bb]uilds
/[Tt]mp
/[Tt]emp
/[Ll]og
/[Ll]ogs
/[Dd]ata
/[Ss]cratch
/[Ww]indows
AGENTS.md
CLAUDE.md
GEMINI.md
PROMPT.md
[Dd]esktop.ini
*.exe
*.txt

# KEEP

!.gitignore
!README.md
